.about {
  font-family: "Poppins", sans-serif;
  color: #333;
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px;
    background: #fff;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);

    .logo {
      font-weight: bold;
      color: #c60000;
      font-size: 22px;
    }

    nav a {
      margin: 0 15px;
      color: #444;
      text-decoration: none;
      font-weight: 500;

      &.active, &:hover {
        color: #c60000;
      }
    }

    .icons i {
      margin-left: 15px;
      font-size: 18px;
      color: #555;
      cursor: pointer;

      &:hover {
        color: #c60000;
      }
    }
  }

  .intro {
    text-align: center;
    padding: 50px 20px;

    h2 {
      font-size: 24px;
      font-weight: 600;
      line-height: 1.4;
      span {
        color: #c60000;
      }
      margin-bottom: 30px;
    }

    img {
      width: 80%;
      border-radius: 12px;
      margin-top: 10px;
      box-shadow: 0 3px 8px rgba(0,0,0,0.1);
    }
  }

  .info-section {
    padding: 40px 80px;
    background: #fafafa;

    .info-box {
      background: #fff;
      margin-bottom: 25px;
      padding: 25px 30px;
      border-radius: 15px;
      box-shadow: 0 2px 5px rgba(0,0,0,0.05);
      background-color: #F5EBDD;
      .title {
        display: flex;
        align-items: center;
        gap: 10px;
        border-bottom: 1px solid #ddd;
        padding-bottom: 10px;
        margin-bottom: 15px;

        .icon {
          font-size: 22px;
        }

        h3 {
          font-weight: 600;
          font-size: 20px;
        }
      }

      p {
        font-size: 15px;
        line-height: 1.6;
        color: #555;
        width: 80%;
        text-align: left;
        padding-left: 230px;
      }

      ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          margin-bottom: 6px;
          color: #444;
        }

        &.links a {
          color: #0056b3;
          text-decoration: underline;

          &:hover {
            color: #c60000;
          }
        }
      }
    }
  }

  .footer {
    background:#fff4eb;
    padding: 30px;
    text-align: center;

    .links {
      display: flex;
      justify-content: center;
      gap: 50px;
      margin-bottom: 15px;
      span {
        cursor: pointer;
        &:hover {
          color: #c60000;
        }
      }
    }

    .social {
      i {
        margin: 0 10px;
        color: #444;
        cursor: pointer;
        &:hover {
          color: #c60000;
        }
      }
    }
  }
}
