.faq-page {
  background-color: #fefbf8;
  font-family: "Poppins", sans-serif;
  color: #3b1c05;
  min-height: 100vh;

  .faq-content {
    max-width: 850px;
    margin: 80px auto;
    text-align: center;

    h1 {
      font-size: 26px;
      font-weight: 600;
      margin-bottom: 40px;
    }

    .faq-section {
      background-color: #f7eee6;
      border-radius: 10px;
      padding: 20px;
      text-align: left;
      margin-bottom: 30px;;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);

      h3 {
        display: flex;
        align-items: center;
        font-size: 16px;
        margin-bottom: 10px;

        .icon {
          margin-right: 8px;
          &.red {
            color: #c11b1b;
          }
          &.danger {
            color: #b13b3b;
          }
          &.green {
            color: #3b8b2e;
          }
        }
      }

      ul {
        margin: 0;
        padding-left: 15px;
        li {
          margin-bottom: 5px;
          font-size: 14px;
          line-height: 1.5;
        }
      }
    }
  }
}



/* Map.scss */
.map-container {
  width: 100%;
  height: 400px;
  border-radius: 10px;
  overflow: hidden;
  border: 2px solid #ccc;

  iframe {
    width: 100%;
    height: 100%;
    border: none;
  }
}
