.find-center {
  padding: 60px 0;
  text-align: center;
  background-color: #FFFAF7;

  .container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .title {
    font-size: 28px;
    font-weight: 700;
    color: #222;
    display: flex;
    justify-content: center;
    align-items: 30px;
    gap: 8px;
    margin-bottom: 10px;
    .search-b {
      width: 100%;
      max-width: 700px;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 10px;
      margin-bottom: 20px;
      outline: none;
    }
  }

  .desc {
    color: #555;
    font-size: 16px;
    margin-bottom: 30px;
  }

  .map-container {
    width: 100%;
    height: 400px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);

    iframe {
      width: 100%;
      height: 100%;
      border: none;
    }
  }
}
