.First {
  padding: 50px;
  background-color: #FFFCF9;
  background-size: cover;
  height: 100vh;
  .container {
    padding-top: 80px;
    .x {
    }
    .p-start {
      width: 350px;
      position: relative;
      text-align: center;
      margin: 40px auto;
      font-size: 20px;
    }
  }
}