.otp-box {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
}

.otp-input {
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
  transition: 0.3s;
}

.otp-input:focus {
  border-color: #e63946;
  outline: none;
}

.resend {
  text-align: center;
  font-size: 14px;
  color: #777;
  margin-bottom: 15px;
  .s {
    color: #333;
    font-weight: bold;
  }
}
