.navbar {
  background-color: #f5ede4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 40px;
  font-family: "Poppins", sans-serif;
  height: 100px;
  .logo {
    display: flex;
    align-items: center;
    gap: 6px;
    img {
      width: 180px;
      height: 90px;
    }
    span {
      font-weight: 600;
      color: #3b1c05;
    }
  }

  .nav-links {
    display: flex;
    gap: 100px;
    list-style: none;
  
    a {
      text-decoration: none;
      color: #3b1c05;
      font-weight: 400;
      &.active {
        font-weight: 600;
      }
    }
  }
  

  .icons {
    display: flex;
    gap: 15px;
    align-items: center;

    .icon {
      font-size: 1.5rem;
      cursor: pointer;
      color: #333;

      &:hover {
        color: #ff0000;
      }
    }
  }
}
