.profile-page {
  width: 90%;
  margin: auto;
  margin-top: 30px;
  font-family: Arial, sans-serif;
  color: #333;
}

/* ================= USER CARD ================= */
.user-card {
  display: flex;
  background: #f5ece1;
  padding: 20px;
  border-radius: 10px;
  gap: 20px;
}

.user-image img {
  width: 170px;
  height: 170px;
  object-fit: cover;
  border-radius: 10px;
}

.user-details {
  flex: 1;
}

.user-details .name {
  margin-bottom: 15px;
}

.info-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 20px;
}

/* ================= SECTION BOX ================= */
.section {
  background: #f5ece1;
  margin-top: 25px;
  padding: 20px;
  border-radius: 10px;
}

.section h3 {
  margin-bottom: 20px;
}

/* ================= APPOINTMENT ================= */
.appointment-box {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-bottom: 10px;
}

.date-box,
.clock-box {
  background: #fff;
  width: 200px;;
  padding: 12px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.date-box h4,
.clock-box h4 {
  color: #3180b7;
  margin-bottom: 5px;
}

.center-box {
  background: white;
  width: 400px;
  padding: 15px;
  text-align: center;
  margin-top: 20px;
  border-radius: 10px;
  font-size: 18px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.15);
  margin: 0 auto;
}

.center-box h4 {
  color: #3180b7;
  margin-bottom: 5px;
}


/* ================= TABLE ================= */
.history-table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 15px;
}

.history-table th {
  background: #e9eef5;
  padding: 12px;
  text-align: center;
}

.history-table td {
  padding: 12px;
  border-top: 1px solid #ddd;
}

/* ================= RESPONSIVE ================= */
@media (max-width: 768px) {
  .user-card {
    flex-direction: column;
    text-align: center;
  }

  .info-grid {
    grid-template-columns: 1fr;
  }

  .appointment-box {
    flex-direction: column;
    align-items: center;
  }

  .center-box {
    margin-left: auto;
    margin-right: auto;
  }
}
