* {
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  position: relative;
}

.red-btn {
  background-color: #EC2C39;
  padding: 20px 120px;
  color: #333;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: bold;
  border-radius: 20px;
  margin-top: 20px;
  transition: .5s ease-in-out;
  border: none;
}

.gray-input {
  background-color: #ddd5b8;
  padding: 15px;
  border: none;
  border-radius: 20px;

}