.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 65px 150px;
}

.card {
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  color: white;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-bottom: 30px;

  h3 {
    font-size: 18px;
    font-weight: 600;
  }

  .type {
    font-size: 28px;
    font-weight: bold;
  }

  button {
    width: 70%;
    margin: 0 auto;
    padding: 10px 0;
    border-radius: 20px;
    border: none;
    font-size: 14px;
    cursor: pointer;
    font-weight: 600;
  }

  .call-btn {
    background: white;
    color: black;
    margin:  0 auto;
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
    text-decoration: none;
    width: 250px;
  }

  .donate-btn {
    background: white;
    color: black;
    display: inline-block;
    width: 250px;
    border-radius: 50px;
    text-decoration: none;
    margin:  0 auto;
    padding: 10px;
    border-radius: 10px;
  }
}

.red {
  background: #d7263d;
}

.orange {
  background: #e87c3c;
}

.green {
  background: #4b8f6f;
}
