.full-bg {
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); // درجة الشفافية
    z-index: 1;
  }

  .content {
    position: relative;
    width: 800px;
    z-index: 2;
    color: #fff;
    text-align: center;
    border-radius: 20px;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.315);
    h1 {
      font-size: 48px;
      font-weight: 700;
      margin-bottom: 10px;
    }
    p {
      font-size: 20px;
      opacity: 0.9;
      display: block;
      margin-bottom: 40px;
    }
    .optionsx {
      margin-top: 20px;
      .optionx {
        position: relative;
        background: #333;
        color: #fff;
        border: none;
        padding: 18px 70px;
        border-radius: 4px;
        margin-right: 20px;
        text-transform: capitalize;
        font-weight: bold;
        border: 2px solid #333;
        transition: .1s ease-in-out;
        text-decoration: none;
        cursor: pointer;
        &:hover {
          border: 2px solid #fff;
        }
      }
    }
  }
}
